<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Health -饮食记录</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" th:href="@{css/vendors_css.css}">

    <!-- Style-->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/skin_color.css}">
    <style>
        /*背景层*/
        #popLayer {
            display: none;
            background-color: #B3B3B3;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80); /* 只支持IE6、7、8、9 */
        }

        /*弹出层*/
        #popBox {
            display: none;
            background-color: #FFFFFF;
            z-index: 11;
            width: 80%;
            height: 80%;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
        }

        /*关闭按钮*/
        #popBox .close a {
            text-decoration: none;
            color: #2D2C3B;
        }

        .button-box {
            display: inline-block;
            position: fixed;
            transform: translate(-50%, -50%);
            bottom: 10%;
        }


    </style>
</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

<div class="wrapper" id="page">
    <div id="loader"></div>

    <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">运动记录</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">日常记录</li>
                            <li class="breadcrumb-item active" aria-current="page">运动记录</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <!-- Main content -->
    <section class="content">

        <!-- Main content -->
        <div id="exercise" style="height: 500px ;width: 100%"></div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="box box-solid bg-github ">
                    <div class="box-header">
                        <h4 class="box-title"><strong>运动记录</strong></h4>
                        <div class="ti-plus pull-right" onclick="popBox();Change_second_selectWords()"></div>
                    </div>

                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">运动</th>
                                    <th scope="col">类型</th>
                                    <th scope="col">时长</th>
                                    <th scope="col">消耗</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="userSport, iterStat:${userSports}">
                                    <td th:text="${userSport.sportName}"></td>
                                    <td th:text="${userSport.type}"></td>
                                    <td th:text="${userSport.time}"></td>
                                    <td th:text="${userSport.cost}*${userSport.time}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>
<div id="popLayer"></div>
<div id="popBox">
    <div class="content" style="height:90%;overflow:auto;">
        <!-- /.box-body -->
        <div class="box-header with-border" id="con1">
            <div class="tags-default" id="co1">
                <h4><strong>添加运动记录</strong></h4>
            </div>
        </div>
        <div class="box-body row col-12 ">
            <div class="col-md-4">
                <h5 class="my-10">运动类型</h5>
                <select class="selectpicker" id="type-select" onchange="Change_second_selectWords();">
                    <option>日常活动</option>
                    <option>有氧运动</option>
                    <option>无氧运动</option>
                </select>
            </div>
            <div class="col-md-4">
                <h5 class="my-10">运动名称</h5>
                <select class="btn dropdown-toggle btn-rounded btn-default" id="sport-select" style="width: 100%; text-align: left" >
                </select>
            </div>
            &nbsp;
            <div class="form-group">
                <div style="height: 10px"></div>
                <label class="control-label">运动时长</label>
                <input id="time" type="text" value="30" name="demo3_1" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary"> </div>
        </div>
    </div>
    <div class="button-box">
        <button type="button" id="close-icon"
                class="waves-effect waves-light btn btn-rounded btn-primary-light mb-5" onclick="closeBox()">取消
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="commit-icon" class="waves-effect waves-light btn btn-rounded btn-success-light mb-5" onclick="commitExercise()">添加</button>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    let highSport = [[${highSports}]];
    let lowSport = [[${lowSports}]];
    let dailySport = [[${dailySports}]];

    highSport = JSON.parse(highSport);
    lowSport = JSON.parse(lowSport);
    dailySport = JSON.parse(dailySport);
    function Change_second_selectWords(){
        //根据id找到两个下拉框对象
        var target1 = document.getElementById("type-select");
        var target2 = document.getElementById("sport-select");
        //得到第一个下拉框的内容
        var selected_initial = target1.options[target1.selectedIndex].value;
        //清空第二个下拉框
        target2.innerHTML = "";

        switch (selected_initial) {
            case "日常活动":
                for (var i = 0; i < dailySport.length; i++) {
                    //将列表中的内容加入到第二个下拉框
                    target2.options.add(new Option(dailySport[i], dailySport[i]));
                }
                break;
            case "有氧运动":
                for (var i = 0; i < lowSport.length; i++) {
                    var option = new Option(lowSport[i], lowSport[i]);
                    //将列表中的内容加入到第二个下拉框
                    target2.options.add(option);
                }
                break;
            case "无氧运动":
                for (var i = 0; i < highSport.length; i++) {
                    var option = new Option(highSport[i], highSport[i]);
                    //将列表中的内容加入到第二个下拉框
                    target2.options.add(option);
                }
                break;
            default:
                break;
        }

    }

    document.getElementById("commit-icon").addEventListener("click", commitExercise);
    document.getElementById("close-icon").addEventListener("click", closeBox);

    function commitExercise() {
        let sport = document.getElementById("sport-select").value;
        let time = document.getElementById("time").value;
        $.ajax({
            url: "/exercise/add",
            type: "post",
            data: {
                "sportName": sport,
                "time": time,
            },
            dataType: "JSON",
            success: function (json) {
                alert(json.msg);
                window.location.reload();
            },
            error: function (xhr) {
                alert("添加失败" + xhr.status);
            }
        })
    }


    /*点击弹出按钮*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        document.getElementById("page").background = "gray";
        popBox.style.display = "block";
        popLayer.style.display = "block";
    }



    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }
</script>

<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
<script type="text/javascript">

    var highCost = [[${highCost}]];
    var lowCost = [[${lowCost}]];
    var middleCost = [[${middleCost}]];

    var dom = document.getElementById('exercise');
    var myChart = echarts.init(dom, null, {
        renderer: 'canvas',
        useDirtyRect: false
    });
    var app = {};

    var option;

    const gaugeData = [
        {
            value: lowCost,
            name: '日程活动',
            title: {
                offsetCenter: ['0%', '-30%']
            },
            detail: {
                valueAnimation: true,
                offsetCenter: ['0%', '-20%']
            }
        },
        {
            value: middleCost,
            name: '有氧运动',
            title: {
                offsetCenter: ['0%', '0%']
            },
            detail: {
                valueAnimation: true,
                offsetCenter: ['0%', '10%']
            }
        },
        {
            value: highCost,
            name: '无氧运动',
            title: {
                offsetCenter: ['0%', '30%']
            },
            detail: {
                valueAnimation: true,
                offsetCenter: ['0%', '40%']
            }
        }
    ];
    option = {
        color: ['#4078c0', '#91cc75','#fac858'],
        series: [
            {
                type: 'gauge',
                startAngle: 90,
                endAngle: -270,
                pointer: {
                    show: false
                },
                progress: {
                    show: true,
                    overlap: false,
                    roundCap: true,
                    clip: false,
                    itemStyle: {
                        borderWidth: 1,
                        borderColor: '#464646'
                    }
                },
                axisLine: {
                    lineStyle: {
                        width: 40
                    }
                },
                splitLine: {
                    show: false,
                    distance: 0,
                    length: 10
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    show: false,
                    distance: 50
                },
                data: gaugeData,
                title: {
                    fontSize: 14
                },
                detail: {
                    width: 50,
                    height: 14,
                    fontSize: 14,
                    color: 'inherit',
                    borderColor: 'inherit',
                    borderRadius: 20,
                    borderWidth: 1,
                    formatter: '{value}%'
                }
            }
        ]
    };
    setInterval(function () {
        myChart.setOption({
            series: [
                {
                    data: gaugeData,
                    pointer: {
                        show: false
                    }
                }
            ]
        });
    }, 2000);

    if (option && typeof option === 'object') {
        myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
</script>


<!-- Vendor JS -->
<script th:src="@{js/vendors.min.js}"></script>
<script th:src="@{js/feather.min.js}"></script>
<script th:src="@{js/bootstrap-tagsinput.js}"></script>
<script th:src="@{js/apexcharts.js}"></script>
<script th:src="@{js/moment.min.js}"></script>
<script th:src="@{js/fullcalendar.js}"></script>
<script th:src="@{js/bootstrap-select.js}"></script>
<script th:src="@{js/jquery.bootstrap-touchspin.min.js}"></script>
<script th:src="@{js/select2.full.js}"></script>

<script th:src="@{js/bootstrap-select.js}"></script>

<script th:src="@{js/bootstrap-select.js}"></script>
<script th:src="@{js/bootstrap-tagsinput.js}"></script>
<script th:src="@{js/jquery.bootstrap-touchspin.min.js}"></script>
<script th:src="@{js/select2.full.js}"></script>
<script th:src="@{js/jquery.inputmask.js}"></script>
<script th:src="@{js/jquery.inputmask.date.extensions.js}"></script>
<script th:src="@{js/jquery.inputmask.extensions.js}"></script>
<script th:src="@{js/moment.min.js}"></script>
<script th:src="@{js/daterangepicker.js}"></script>
<script th:src="@{js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{js/bootstrap-colorpicker.min.js}"></script>
<script th:src="@{js/bootstrap-timepicker.min.js}"></script>
<script th:src="@{js/icheck.min.js}"></script>

<!-- EduAdmin App -->
<script th:src="@{js/template.js}"></script>
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/calendar.js}"></script>
<script th:src="@{js/advanced-form-element.js}"></script>

</body>
</html>
