<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Health -饮食记录</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" th:href="@{css/vendors_css.css}">

    <!-- Style-->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/skin_color.css}">
</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

<div class="wrapper" id="page">
    <div id="loader"></div>

    <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">疾病预防知识</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">健康知识</li>
                            <li class="breadcrumb-item active" aria-current="page">疾病预防知识</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="box col-md-3" th:each="info:${infoList}"
                 th:classappend="${(info.infoId % 6 == 0) ? 'box-outline-secondary' : ''} + ${(info.infoId % 6 == 1) ? 'box-outline-primary' : ''} +
                 ${(info.infoId % 6 == 2) ? 'box-outline-success' : ''} + ${(info.infoId % 6 == 3) ? 'box-outline-info' : ''} + ${(info.infoId % 6 == 4) ? 'box-outline-warning' : ''} + ${(info.infoId % 6 == 5) ? 'box-outline-danger' : ''}"
                  style="margin:15px 25px">
                <div class="box-body">[[${info.info}]] </div>
            </div>
        </div>
    </section>
</div>


<!-- Vendor JS -->
<script th:src="@{js/vendors.min.js}"></script>
<script th:src="@{js/feather.min.js}"></script>
<script th:src="@{js/apexcharts.js}"></script>
<script th:src="@{js/moment.min.js}"></script>
<script th:src="@{js/fullcalendar.js}"></script>

<!-- EduAdmin App -->
<script th:src="@{js/template.js}"></script>
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/calendar.js}"></script>

</body>
</html>
