<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Health -更改密码</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" th:href="@{css/vendors_css.css}">

    <!-- Style-->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/skin_color.css}">

</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h3 class="page-title">个人信息</h3>
                            <div class="d-inline-block align-items-center">
                                <nav>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                        <li class="breadcrumb-item" aria-current="page">个人信息</li>
                                        <li class="breadcrumb-item active" aria-current="page">账号信息</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xl-12 ">
                                <div class="box bt-3 border-info">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">修改密码</h4>
                                    </div>
                                    <form class="form" action="/updatePassword" method="post">
                                        <div class="box-body">
                                            <h4 class="box-title text-info" ><i class="ti-user mr-15"></i><span th:text="${user.uname}"></span> </h4>
                                            <hr class="my-15">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>密码</label>
                                                        <input id="password" type="text" class="form-control" name="password" placeholder="请输入新的密码">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" id="again" >
                                                        <label>确认密码</label>
                                                        <input id="passwordA" type="text" class="form-control" placeholder="请再次输入密码" onkeyup="checkPassword()">
                                                    </div>
                                                </div>
                                                <div id="tishi"></div>
                                            </div>
                                            <!-- /.box-body -->

                                            <div class="box-footer text-right">
                                                <button type="button" class="btn btn-rounded btn-warning btn-outline mr-1" onclick='location.href=("/")'>
                                                    <i class="ti-trash" ></i> 取消
                                                </button>
                                                <button type="submit" id="submit" class="btn btn-rounded btn-primary btn-outline" disabled>
                                                    <i class="ti-save-alt"></i> 保存
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                </section>
            </div>


<script>
    function checkPassword() {
        var password = document.getElementById("password").value;
        var repassword = document.getElementById("passwordA").value;

        if(password == repassword) {
            document.getElementById("tishi").innerHTML="<br><font color='green'>两次密码输入一致</font>";
            document.getElementById("submit").disabled = false;

        }else {
            document.getElementById("tishi").innerHTML="<br><font color='red'>两次输入密码不一致!</font>";
            document.getElementById("submit").disabled = true;
        }
    }
</script>
<!-- Vendor JS -->
<script th:src="@{js/vendors.min.js}"></script>
<script th:src="@{js/chat-popup.js}"></script>
<script th:src="@{js/feather.min.js}"></script>

<script th:src="@{js/apexcharts.js}"></script>
<script th:src="@{js/moment.min.js}"></script>
<script th:src="@{js/fullcalendar.js}"></script>

<!-- EduAdmin App -->
<script th:src="@{js/template.js}"></script>
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/calendar.js}"></script>

</body>
</html>
