<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

  <title>Health -健康信息</title>

  <!-- Vendors Style-->
  <link rel="stylesheet" th:href="@{css/vendors_css.css}">

  <!-- Style-->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/skin_color.css}">


</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

  <!-- Main content -->
  <div class="row">
    <div class="col-xl-8 col-12">
      <div class="box bg-primary-light">
        <div class="box-body d-flex px-0">
          <div class="flex-grow-1 p-30 flex-grow-1 bg-img dask-bg bg-none-md"
               style="background-position: right bottom; background-size: auto 100%; background-image: url(img/Yoga.svg)">
            <div class="row">
              <div class="col-12 col-xl-7">
                <h2>欢迎回来, <strong><span th:text="${session.name}"></span></strong></h2>

                <p class="text-dark my-10 font-size-16" th:if="${date}">
                  上次您更新健康信息是在 <strong class="text-warning">[[${date}]]</strong>.
                </p>
                <p class="text-dark my-10 font-size-16" th:unless="${date}">
                  您还未更新健康信息,快去更新吧.
                </p>
                <p class="text-dark my-10 font-size-16">
                  [[${msg}]]
                </p>
              </div>
              <div class="col-12 col-xl-5"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-12 col-xl-6"  >
          <div class="box" style="height: 90%">
            <div class="box-header with-border">
              <h4 class="box-title">饮食记录</h4>
            </div>
            <div class="box-body">
              <div class="d-flex align-items-center mb-30 gap-items-3 justify-content-between">
                <div class="d-flex align-items-center font-weight-500">
                  <div class="mr-15 w-50 d-table">
                    <img th:src="@{img/燃脂.svg}" class="avatar avatar-lg rounded10 bg-primary-light" alt="">
                  </div>
                  <div>
                    <a href="#" class="text-dark hover-primary mb-5 d-block font-size-16">总热量</a>
                    <div class="w-200">
                      <div class="progress progress-sm mb-0">
                        <div class="progress-bar progress-bar-primary progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${heatPercent} + '%'">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <h5 class="font-weight-600 mb-0 badge badge-pill badge-primary" th:text="${heatPercent} + '%'"></h5>
                </div>
              </div>
              <div class="d-flex align-items-center mb-30 gap-items-3 justify-content-between">
                <div class="d-flex align-items-center font-weight-500">
                  <div class="mr-15 w-50 d-table">
                    <img th:src="@{img/三明治.svg}" class="avatar avatar-lg rounded10 bg-primary-light" alt="">
                  </div>
                  <div>
                    <a href="#" class="text-dark hover-primary mb-5 d-block font-size-16">碳水</a>
                    <div class="w-200">
                      <div class="progress progress-sm mb-0">
                        <div class="progress-bar progress-bar-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${carbonPercent} + '%'">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <h5 class="font-weight-600 mb-0 badge badge-pill badge-warning" th:text="${carbonPercent} + '%'"></h5>
                </div>
              </div>
              <div class="d-flex align-items-center mb-30 gap-items-3 justify-content-between">
                <div class="d-flex align-items-center font-weight-500">
                  <div class="mr-15 w-50 d-table">
                    <img th:src="@{img/鸡腿.svg}"  class="avatar avatar-lg rounded10 bg-primary-light" alt="">
                  </div>
                  <div>
                    <a href="#" class="text-dark hover-primary mb-5 d-block font-size-16">蛋白质</a>
                    <div class="w-200">
                      <div class="progress progress-sm mb-0">
                        <div class="progress-bar progress-bar-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="59" aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${proteinPercent} + '%'">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <h5 class="font-weight-600 mb-0 badge badge-pill badge-info" th:text="${proteinPercent} + '%'"></h5>
                </div>
              </div>
              <div class="d-flex align-items-center mb-30 gap-items-3 justify-content-between">
                <div class="d-flex align-items-center font-weight-500">
                  <div class="mr-15 w-50 d-table">
                    <img th:src="@{img/五花肉.svg}" class="avatar avatar-lg rounded10 bg-primary-light" alt="">
                  </div>
                  <div>
                    <a href="#" class="text-dark hover-primary mb-5 d-block font-size-16">脂肪</a>
                    <div class="w-200">
                      <div class="progress progress-sm mb-0">
                        <div class="progress-bar progress-bar-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${fatPercent} + '%'">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <h5 class="font-weight-600 mb-0 badge badge-pill badge-danger" th:text="${fatPercent} + '%'"></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <div class="box"  style="height: 90%">
            <div class="box-header with-border">
              <h4 class="box-title">热量消耗</h4>
            </div>
            <div class="box-body">
              <div class="d-flex justify-content-center" id="container" style="height: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="box">
            <div class="box-body d-flex p-0">
              <div class="flex-grow-1 bg-danger p-30 flex-grow-1 bg-img"
                   style="background-position: calc(100% + 0.5rem) bottom; background-size: auto 100%; background-image: url(image/custom-3.svg)">

                <h4 class="font-weight-400">健康知识</h4>

                <p class="my-10 font-size-16">
                  了解健康知识<br>改变生活.
                </p>
                <a href="/healthNote" class="btn btn-danger-light">开始阅读</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="box">
            <div class="box-body d-flex p-0">
              <div class="flex-grow-1 bg-primary p-30 flex-grow-1 bg-img"
                   style="background-position: calc(100% + 0.5rem) bottom; background-size: auto 100%; background-image: url(image/custom-4.svg)">

                <h4 class="font-weight-400">健康贴士</h4>

                <div class="mt-5">
                  <div class="d-flex mb-10 font-size-16">
                                        <span class="icon-Arrow-right mt-5 mr-10"><span class="path1"></span><span
                                                class="path2"></span></span>
                    <span class="text-white" >健康生活建议</span>
                  </div>

                  <div class="d-flex mb-10 font-size-16">
                                        <span class="icon-Arrow-right mt-5 mr-10"><span class="path1"></span><span
                                                class="path2"></span></span>
                    <span class="text-white" href="/eatAdvice">健康饮食建议</span>
                  </div>

                  <div class="d-flex mb-10 font-size-16">
                                        <span class="icon-Arrow-right mt-5 mr-10"><span class="path1"></span><span
                                                class="path2"></span></span>
                    <span class="text-white" href="/illAdvice">疾病预防建议</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-12">
      <div class="box">
        <div class="box-body">
          <div class="box no-shadow mb-0 px-10">
            <div class="box-header no-border">
              <h4 class="box-title">选择喜爱的运动吧</h4>
            </div>
          </div>
          <div class="px-10">
            <div class="box bt-5 border-danger rounded" id="exercise1">
              <div class="box-body">
                <div class="flex-grow-1">
                  <div class="d-flex align-items-center pr-2 justify-content-between">
                    <h4 class="font-weight-500">
                      有氧城市慢跑
                    </h4>
                  </div>
                  <p class="font-size-16">
                    通过适度的持久性运动，促进健康、提高耐力，并带来身心愉悦的效果。
                  </p>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-10">
                  <div class="d-flex">
                    <a href="#"
                       class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
                      <img th:src="@{picture/avatar-1.png}" class="h-50 align-self-end" alt="">
                    </a>
                    <a href="#"
                       class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
                      <img th:src="@{picture/avatar-3.png}" class="h-50 align-self-end" alt="">
                    </a>
                    <a href="#"
                       class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
                      <img th:src="@{picture/avatar-4.png}" class="h-50 align-self-end" alt="">
                    </a>
                  </div>
                  <button type="button" class="waves-effect waves-circle btn btn-circle btn-dark"><i
                          class="mdi mdi-arrow-right"></i></button>
                </div>
              </div>
            </div>
            <div class="box bt-5 border-primary rounded" id="exercise2">
              <div class="box-body">
                <div class="flex-grow-1">
                  <div class="d-flex align-items-center pr-2 justify-content-between">
                    <h4 class="font-weight-500">
                      平板支撑
                    </h4>
                  </div>
                  <p class="font-size-16">
                    通过保持身体平直的姿势，锻炼核心肌群，提高核心稳定性和身体力量。
                  </p>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-10">
                  <div class="d-flex">
                    <a href="#"
                       class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
                      <img th:src="@{picture/avatar-2.png}" class="h-50 align-self-end" alt="">
                    </a>
                    <a href="#"
                       class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
                      <img th:src="@{picture/avatar-5.png}" class="h-50 align-self-end" alt="">
                    </a>
                    <a href="#"
                       class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
                      <img th:src="@{picture/avatar-6.png}" class="h-50 align-self-end" alt="">
                    </a>
                  </div>
                  <button type="button" class="waves-effect waves-circle btn btn-circle btn-dark"><i
                          class="mdi mdi-arrow-right"></i></button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
  <!-- /.content -->
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>

  <script type="text/javascript" th:inline="javascript">
    document.getElementById("exercise1").onclick = function () {
      window.location.href = "/exercise";
    };
    document.getElementById("exercise2").onclick = function () {
      window.location.href = "/exercise";
    };

    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option;

    option = {
      color:['#265fb8','#ffa841'],
      tooltip: {
        trigger: 'item'
      },
      legend: {
        top: '90%',
        left: 'center',
        icon: "circle", // 修改形状
        itemHeight: 20, // 修改icon图形大小
        itemGap: 40, // 修改间距
        textStyle: {
          fontSize: 20,
        },
      },
      series: [
        {
          name: 'Access From',
          type: 'pie',
          radius: ['70%', '80%'],
          avoidLabelOverlap: false,
          itemStyle: {
            borderRadius: 10,
            borderColor: '#fff',
            borderWidth: 2
          },
          label: {
            show: false,
            position: 'center'
          },
          emphasis: {
            label: {
              show: true,
              fontSize: 40,
              fontWeight: 'bold',
              formatter:'{d}%'
            }
          },
          labelLine: {
            show: false
          },
          data: [
            { value: [[${cost}]], name: '已完成' },
            { value: 2000-[[${cost}]], name: '未完成' },
          ]
        }
      ]
    };

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>



<!-- Vendor JS -->
<script th:src="@{js/vendors.min.js}"></script>
<script th:src="@{js/chat-popup.js}"></script>
<script th:src="@{js/feather.min.js}"></script>

<script th:src="@{js/apexcharts.js}"></script>
<script th:src="@{js/moment.min.js}"></script>
<script th:src="@{js/fullcalendar.js}"></script>

<!-- EduAdmin App -->
<script th:src="@{js/template.js}"></script>
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/calendar.js}"></script>

</body>
</html>
